@using LekkerLokaal.Models.Domain;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    Winkelwagen winkelwagen = Context.Session.GetString("winkelwagen") == null ? null : JsonConvert.DeserializeObject<Winkelwagen>(Context.Session.GetString("winkelwagen"));
}

@if (winkelwagen == null)
{
    <span class="cart-number">0</span>
}
else
{
    <span class="cart-number">@winkelwagen.AantalBonnen</span>
}