@model LekkerLokaal.Models.AdminViewModels.CadeaubonVerzoekenViewModel

@{
    ViewData["Title"] = "Bon verzoeken";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    @if (Model.AlleBonVerzoekenGesorteerdOpId == null || !Model.AlleBonVerzoekenGesorteerdOpId.Any())
    {
        <h1 class="text-center mtb-40 color-white">Er zijn momenteel geen bonverzoeken!</h1>
        <a asp-controller="Admin" asp-action="BonToevoegen"><h3 class="text-center color-darkblue">Voeg manueel een bon toe.</h3></a>
    }
    else
    {
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Handelaarsverzoeken
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Naam handelaar</th>
                                <th>Naam cadeaubon</th>
                                <th>Gemeente</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        @foreach (var bon in Model.AlleBonVerzoekenGesorteerdOpId)
                        {
                            <tbody>
                                <tr>
                                    <td>@bon.Handelaarnaam</td>
                                    <td>@bon.BonNaam</td>
                                    <td>@bon.Gemeente</td>
                                    <td><a asp-controller="Admin" asp-action="CadeaubonVerzoekEvaluatie" asp-route-id="@bon.Id"><i class="fas fas fa-ellipsis-h"></i></a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</section>