
@{
    ViewData["Title"] = "HandelaarVerzoekEvaluatie";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    <h1 class="text-center"></h1>

    <section class="panel">
        <header class="panel-heading">Aanvraag tot handelaarsaccount: Lennert NV.</header>
        <div class="panel-body">
            <form class="form-horizontal bucket-form" method="get">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Naam handelszaak</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">E-mailadres</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Straatnaam</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Huisnummer</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Postcode</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Gemeente</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Btw nummer</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Korte omschrijving</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Afbeelding</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="TEKSTTTTTTT" disabled="">
                    </div>
                </div>
            </form>
        </div>
    </section>

</section>
