
@{
    ViewData["Title"] = "Verkochte cadeaubonnen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Verkochte Cadeaubonnen
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Bon</th>
                            <th>Bedrag</th>
                            <th>Status</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td> Lorem ipsum </td>
                            <td> <h5>&euro; 75</h5> </td>
                            <td> <span class="label label-success">Betaald</span> </td>
                            <td> <i class="fas fas fa-ellipsis-h"></i> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

