@{
    ViewData["Title"] = "E-mailadres bevestigd";
    ViewData["Navbar"] = "Account";
}

<div class="col-xs-12 text-center">
    <h2>@ViewData["Title"]</h2>
    <p>Bedankt om uw e-mailadres te bevestigen! Uw account is nu volledig aangemaakt.</p>
    <p>U wordt binnen enkele seconden teruggestuurd naar het startscherm van de website.</p>
    <p>Gebeurt dit niet vanzelf? <a asp-controller="Home" asp-action="Index">Klik dan hier om terug te gaan.</a></p>
</div>