@model RegisterHandelaarViewModel
@{
    ViewData["Title"] = "Registreer handelaar";
    ViewData["Navbar"] = "Handelaar";
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <section class="sign-area panel p-40">
                <h3 class="sign-title">Aanvraagformulier om handelaar te worden</h3>
                <div class="row">
                    <div class="col-sm-6 col-md-7 col-left">
                        <form class="p-40" asp-route-returnUrl="@ViewData["Register"]" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label asp-for="NaamHandelszaak" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Naam handelszaak" asp-for="NaamHandelszaak" required>
                                <span asp-validation-for="NaamHandelszaak" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="E-mailadres" asp-for="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-9 no-padding">
                                <label asp-for="Straat" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Straat" asp-for="Straat" required>
                                <span asp-validation-for="Straat" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-offset-1 col-sm-2 no-padding">
                                <label asp-for="Huisnummer" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Nr" asp-for="Huisnummer" required>
                                <span asp-validation-for="Huisnummer" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-3 no-padding">
                                <label asp-for="Postcode" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Postcode" asp-for="Postcode" required>
                                <span asp-validation-for="Postcode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-offset-1 col-sm-8 no-padding">
                                <label asp-for="Plaatsnaam" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Plaatsnaam" asp-for="Plaatsnaam" required>
                                <span asp-validation-for="Plaatsnaam" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BTWNummer" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="BTW Nummer" asp-for="BTWNummer" required>
                                <span asp-validation-for="BTWNummer" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Beschrijving">korte omschrijving van uw bedrijf</label>
                                <input asp-for="Beschrijving" class="form-control input-lg" placeholder="Korte omschrijving" required>
                                <span asp-validation-for="Beschrijving" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="btn btn-default" id="fileselection">
                                    <a class="force-whiteColor" id="fileselectionTekst">Selecteer een logo</a><input asp-for="Logo" accept=".jpg" id="fileToUpload" style="display: none;">
                                </label>
                            </div>

                            <div class="custom-checkbox mb-20">
                                <input type="checkbox" id="agree_terms" required>
                                <label class="color-mid" for="agree_terms">Ik ga akkoord met de <a href="~/downloads/Handelaarsovereenkomsten_-_Lekker_Lokaal.pdf" download class="color-blue">Handelaarsovereenkomsten</a>.</label>
                            </div>
                            <button type="submit" class="btn btn-block btn-lg">Registratie aanvragen</button>
                        </form>
                        <span class="or">Of</span>
                    </div>
                    <script>
                        $("#fileToUpload").change(function () {
                            document.getElementById('fileselectionTekst').innerHTML = 'U heeft een bestand geselecteerd';
                        });
                    </script>
                    <div class="col-sm-6 col-md-5 col-right contact-area pl-40 pt-10">
                        <ul class="contact-list mb-40">
                            <li>
                                <span class="icon lnr lnr-map-marker"></span>
                                <h5>Adres</h5>
                                <a href="http://maps.google.com/?q=1200 Hogeschool Gent - campus Aalst, Arbeidstraat 14, 9300 Aalst" target="_blank" class="color-mid">Arbeidstraat 14, 9300 Aalst</a>
                            </li>
                            <li>
                                <span class="icon lnr lnr-envelope"></span>
                                <h5>E-mailadrres</h5>
                                <a href="mailto:info@lekkerlokaal.be" class="color-mid">Info@lekkerlokaal.be</a>
                            </li>
                            <li>
                                <span class="icon lnr lnr-phone-handset"></span>
                                <h5>Telefoonnummer</h5>
                                <a href="tel:+32491234514" class="color-mid">+32 491 23 45 14</a>
                            </li>
                            <li>
                                <span class="icon lnr lnr-database"></span>
                                <h5>BTW nummer</h5>
                                <a class="color-mid">BE 0833.582.168</a>
                            </li>
                        </ul>
                        <div class="text-center color-mid pl-10 pt-30 pr-40">
                            <h4 class="widget-title h-title mb-30">Voordelen die u heeft als handelaar: </h4>
                        </div>
                        <div class="color-mid pl-10">
                            <p class="font-13 mb-5"><i class="far fa-check-square color-blue font-22"></i> Maak één of meerdere cadeaubonnen aan</p>
                            <p class="font-13 mb-5"><i class="far fa-check-square color-blue font-22"></i> Via onze app kan u cadeaubonnen te aanvaarden</p>
                            <p class="font-13 mb-5"><i class="far fa-check-square color-blue font-22"></i> Krijg een overzicht van al uw verkochte cadeaubonnen</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>