@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Registreer";
    ViewData["Navbar"] = "Account";
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <section class="sign-area panel p-40">
                <h3 class="sign-title">Maak een account aan <small>of <a asp-controller="Account" asp-action="Login" class="color-blue">meld aan</a></small></h3>
                <div class="row row-rl-0">
                    <div class="col-sm-6 col-md-7 col-left">
                        <form class="p-40" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Voornaam" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Voornaam" asp-for="Voornaam">
                                <span asp-validation-for="Voornaam" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Familienaam"></label>
                                <input class="form-control input-lg" placeholder="Familienaam" asp-for="Familienaam">
                                <span asp-validation-for="Familienaam" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Email"></label>
                                <input class="form-control input-lg" placeholder="E-mailadres" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Geslacht"></label>
                                <select class="form-control input-lg search-select" asp-for="Geslacht" asp-items="@(ViewData["Geslacht"] as SelectList)">
                                    <option value="">--- Selecteer geslacht ---</option>
                                </select>
                                <span asp-validation-for="Geslacht" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Password"></label>
                                <input class="form-control input-lg" placeholder="Wachtwoord" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="ConfirmPassword"></label>
                                <input class="form-control input-lg" placeholder="Bevestig wachtwoord" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="custom-checkbox mb-20">
                                <input type="checkbox" id="agree_terms" required>
                                <label class="color-mid" for="agree_terms">Ik ga akkoord met de <a href="~/downloads/Gebruikersovereenkomsten_-_Lekker_Lokaal.pdf" download class="color-blue">Gebruikersovereenkomsten</a>.</label>
                            </div>
                            <button type="submit" class="btn btn-block btn-lg">Maak een account aan</button>
                        </form>
                        <span class="or">Of</span>
                    </div>
                    <div class="col-sm-6 col-md-5 col-right">
                        <div class="social-login p-40">
                            <form asp-controller="Account" asp-action="Login" method="get">
                                <div class="mb-20">
                                    <button type="submit" class="btn btn-lg btn-block btn-social btn-facebook"><i class="fab fa-facebook-square font-18"></i> Meld aan met Facebook</button>
                                </div>
                                <div class="mb-20">
                                    <button class="btn btn-lg btn-block btn-social btn-twitter"><i class="fab fa-twitter font-18"></i> Meld aan met Twitter</button>
                                </div>
                                <div class="mb-20">
                                    <button class="btn btn-lg btn-block btn-social btn-google-plus"><i class="fab fa-google-plus font-18"></i> Meld aan met Google+</button>
                                </div>
                            </form>
                            <div class="text-center color-mid">
                                <p>Heb je al een account? <a asp-controller="Account" asp-action="Login" class="color-blue">Meld aan</a></p>
                            </div>
                        </div>
                        <div class="text-center color-mid pl-40 pr-40">
                            <h4 class="widget-title h-title mb-30">Voordelen van een account: </h4>
                        </div>
                        <div class="color-mid pl-40">
                            <p class="font-15 mb-5"><i class="far fa-check-square color-blue font-22"></i> Krijg een overzicht van al uw bestellingen</p>
                            <p class="font-15 mb-5"><i class="far fa-check-square color-blue font-22"></i> Uw gegevens worden automatisch ingevuld</p>
                            <p class="font-15 mb-5"><i class="far fa-check-square color-blue font-22"></i> Ontvang e-mails met exclusieve aanbiedingen</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
