@{
    ViewData["Title"] = "Bedankt";
}

<div class="col-xs-12 center-block  mtb-60 width-625">
    <h2 class="mb-15 text-center">@ViewData["Title"] voor uw bestelling bij Lekker Lokaal!</h2>
    <p>
        Uw cadeaubonnen worden verzonden via e-mail.
        Indien u een ontvanger heeft toegevoegd aan een cadeaubon,
        zal deze persoon ook via e-mail de cadeaubon ontvangen samen met de persoonlijke boodschap.
    </p>
    <p>Hieronder vindt u een overzicht van alle aangekochte cadeaubonnen. U kunt ze vanaf deze ook afdrukken of downloaden.</p>
    <div class="custom-checkbox mb-20">
        <input type="checkbox" id="factuurChck">
        <label class="color-mid" for="factuurChck">Maak een factuur aan voor deze aankoop</label>
    </div>

    <div id="factuur" class="collapse">
        <p>collapseren ahn</p>
    </div>
    <p><a asp-controller="Home" asp-action="Index">Klik hier om terug te gaan naar de home pagina.</a></p>
    <a asp-controller="Home" asp-action="Index"><img src="~/images/icons/home/home.png"></a>
</div>
<script>
    $('#factuurChck').change(function () {
        $('#factuur').collapse("toggle");
    });
</script>