@model LekkerLokaal.Models.WinkelwagenViewModels.BedanktViewModel

@using LekkerLokaal.Models.Domain

﻿@{
    ViewData["Title"] = "Bedankt";

}
<div class="bedankt panel mb-40">
    <div class="col-xs-12 center-block  mtb-40">
        <h1 class="mb-15 text-center">Bedankt voor uw bestelling bij Lekker Lokaal!</h1>
        <h3 class="mb-15">
            U heeft een e-mail ontvangen met alle bestelde bonnen.
        </h3>
        <h5>
            Indien u hiervoor gekozen heeft, <br> zal de ontvanger zijn bon ook via e-mail ontvangen hebben.
        </h5>
        @if (((IList<BestelLijn>)ViewData["bestellijnen"]).Count == 1)
        {
            <p class="mt-20"><a class="btn btn-sm btn-small" target="_blank" href="~/pdf/c_@(((IList<BestelLijn>)ViewData["bestellijnen"])[0].QRCode).pdf">Download gekochte cadeaubon</a></p>
        }
        else
        {
            <p class="mt-20"><a class="btn btn-sm btn-small" target="_blank" href="~/pdf/merged_@(((IList<BestelLijn>)ViewData["bestellijnen"])[0].QRCode).pdf">Download gekochte cadeaubonnen</a></p>
        }
        <p><a asp-controller="Home" asp-action="Index"><img src="~/images/icons/home/home.png"></a></p>
        <p><a asp-controller="Home" asp-action="Index">keer terug naar de home pagina.</a></p>
    </div>
</div>
