@model LekkerLokaal.Models.WinkelwagenViewModels.BonAanmakenViewModel
@{
    ViewData["Title"] = "Bestelling";
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <div class="row row-rl-10 row-tb-20">
                <div class="page-content col-xs-12 col-sm-8 col-md-9">
                    <section class="section checkout-area panel prl-30 pt-20 pb-40">
                        <h2 class="h2 mb-20 h-title">Bijkomende informatie <br>Cadeaubon 1: "Restaurant Lekker, € 50, Aalst"</h2>
                        <form asp-controller="Checkout" asp-action="BonAanmaken" method="post" class="mb-30">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UwNaam">Uw naam</label>
                                <input type="text" class="form-control" placeholder="Uw naam" asp-for="UwNaam">
                                <span asp-validation-for="UwNaam" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UwEmail">Uw e-mailadres</label>
                                <input type="text" class="form-control" placeholder="Uw e-mailadres" asp-for="UwEmail">
                                <span asp-validation-for="UwEmail" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NaamOntvanger">Naam ontvanger <span class="color-mid"></span></label>
                                <input type="text" class="form-control" placeholder="Naam ontvanger" asp-for="NaamOntvanger">
                                <span asp-validation-for="NaamOntvanger" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="EmailOntvanger">E-mailadres ontvanger <span class="color-mid"></span></label>
                                <input type="text" class="form-control" placeholder="E-mailadres ontvanger" asp-for="EmailOntvanger">
                                <span asp-validation-for="EmailOntvanger" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Boodschap">Persoonlijke boodschap (optioneel)<span class="color-mid"></span></label>
                                <input style="height: 200px" type="text" class="form-control" placeholder="Persoonlijke boodschap" asp-for="Boodschap">
                                <span asp-validation-for="Boodschap" class="text-danger"></span>
                            </div>
                            <div class="custom-checkbox mb-20">
                                <input type="checkbox" id="agree_terms">
                                <label class="color-mid" for="agree_terms">Ik wens een factuur voor deze aankoop.</label>
                            </div>
                            <a asp-controller="Winkelwagen" asp-action="Index" class="btn btn-lg btn-warning btn-rounded">Annuleer</a>
                            <button type="submit" class="btn btn-lg btn-rounded mr-10">Volgende cadeaubon</button>
                        </form>
                    </section>
                </div>
                <div class="page-sidebar col-xs-12 col-sm-4 col-md-3">
                    <aside class="sidebar blog-sidebar">
                        <div class="row row-tb-10">
                            <div class="col-xs-12">
                                <div class="widget checkout-widget panel p-20">
                                    <div class="widget-body">
                                        <table class="table mb-15">
                                            <tbody>
                                                <tr>
                                                    <td class="color-mid">Aantal bonnen:</td>
                                                    <td>@ViewData["Aantal"]</td>
                                                </tr>
                                                <tr class="font-15">
                                                    <td class="color-mid">Totaal:</td>
                                                    <td class="color-green">@($"€ {ViewData["Totaal"]:N2}")</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a asp-controller="Winkelwagen" asp-action="Index" class="btn btn-info btn-block btn-sm">Bewerk winkelmandje</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>
