@using LekkerLokaal.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked ml-10">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) col-md-7"><a asp-action="Index">Uw persoonlijke gegevens</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) col-md-7"><a asp-action="ChangePassword">Wachtwoord wijzigen</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) col-md-7"><a asp-action="ExternalLogins">Koppel uw sociale media</a></li>
    }
</ul>

