@model SetPasswordViewModel
@{
    ViewData["Title"] = "Wachtwoord toevoegen";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="page-container ptb-10">
    <div class="container width-100">
        <section class="sign-area panel p-40 mr-10">
            <h4>Wachtwoord toevoegen aan account</h4>
            @Html.Partial("_StatusMessage", Model.StatusMessage)
            <p class="text-info">
                U heeft op dit moment geen wachtwoord voor deze website. Gelieve een wachtwoord aan te maken zodat u zich kunt aanmelden zonder gebruik te maken van uw sociale media.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Wachtwoord toevoegen</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
