@{
    ViewData["Title"] = "Winkelwagen";
}

<main id="mainContent" class="main-content">
    <div class="page-container">
        <div class="container">
            <div class="cart-area ptb-60">
                <div class="container" id="winkelwagen-list-partial">
                    @await Html.PartialAsync("IndexPartialItemsLijst")
                </div>
            </div>
        </div>
    </div>
    <script>
        function winkelmandAantalVerhogen(id, prijs) {
            var plusId = id;
            var plusPrijs = prijs;

            $.ajax({
                type: "POST",
                url: '@Url.Action("Plus", "Winkelwagen")',
              data: { Id: plusId, Prijs: plusPrijs }
                }).done(function (result) {
                    $("#winkelwagen-list-partial").html(result);
             });
        };

        function winkelmandAantalVerlagen(id, prijs) {
            var plusId = id;
            var plusPrijs = prijs;

            $.ajax({
              type: "POST",
              url: '@Url.Action("Min", "Winkelwagen")',
              data: { Id: plusId, Prijs: plusPrijs }
            }).done(function (result) {
                    $("#winkelwagen-list-partial").html(result);
            });
        };

        function winkelmandItemVerwijderen(id, prijs) {
            if (confirm("Bent u zeker dat u deze cadeaubon(nen) wilt verwijderen uit uw winkelwagen?") == true) {
                var plusId = id;
                var plusPrijs = prijs;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Remove", "Winkelwagen")',
                    data: { Id: plusId, Prijs: plusPrijs }
                }).done(function (result) {
                    $("#winkelwagen-list-partial").html(result);
                });
            }
        };
    </script>
</main>
