@{
    ViewData["Title"] = "Winkelwagen";
}

<h2>@ViewData["Title"]</h2>
    Uw winkelwagen is leeg. <a asp-controller="Home" asp-action="Index">Bezoek onze winkel om uw winkelwagen te vullen met cadeaubonnen.</a>