@model LekkerLokaal.Models.HomeViewModels.VerstuurEmailViewModel

@{
    ViewData["Title"] = "Over ons";
    ViewData["Navbar"] = "Over";
}

<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<main id="mainContent" class="main-content">
    <!-- Page Container -->
    <div class="page-container ptb-60">
        <div class="container">

            <!-- Contact Us Area -->
            <div class="contact-area contact-area-v1 panel">

                <div class="ptb-30 prl-30">
                    <div class="row row-tb-20">
                        <div class="col-xs-12 col-md-6">
                            <div class="contact-area-col contact-info">
                                <div class="contact-info">
                                    <h3 class="t-uppercase h-title mb-20">Contact informatie</h3>
                                    <p>Lekker lokaal is een online webshop voor het eenvoudig en veilig aankopen van cadeaubonnen. Actief sinds 2017 met een steeds groeiend assortiment van cadeaubonnen.</p>
                                    <ul class="contact-list mb-40">
                                        <li>
                                            <span class="icon lnr lnr-map-marker"></span>
                                            <h5>Adres</h5>
                                            <a href="http://maps.google.com/?q=1200 Hogeschool Gent - campus Aalst, Arbeidstraat 14, 9300 Aalst" target="_blank" class="color-mid">Arbeidstraat 14, 9300 Aalst</a>
                                        </li>
                                        <li>
                                            <span class="icon lnr lnr-envelope"></span>
                                            <h5>E-mailadrres</h5>
                                            <a href="mailto:info@lekkerlokaal.be" class="color-mid">Info@lekkerlokaal.be</a>
                                        </li>
                                        <li>
                                            <span class="icon lnr lnr-phone-handset"></span>
                                            <h5>Telefoonnummer</h5>
                                            <a href="tel:+32491234514" class="color-mid">+32 491 23 45 14</a>
                                        </li>
                                        <li>
                                            <span class="icon lnr lnr-database"></span>
                                            <h5>BTW nummer</h5>
                                            <a class="color-mid">BE 0833.582.168</a>
                                        </li>
                                    </ul>
                                    <ul class="social-icons social-icons--colored list-inline">
                                        <li>
                                            <a href="#"><i class="fab fa-facebook font-34"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-twitter font-34"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-linkedin font-34"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fab fa-google-plus font-34"></i></a>
                                        </li>
                                        <li >
                                            <a href="#"><i class="fab fa-pinterest font-34"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="contact-area-col contact-form">
                                <h3 class="t-uppercase h-title mb-20">Neem contact met ons op</h3>
                                <form asp-controller="Home" asp-action="VerstuurEmail" method="post">
                                    <div class="form-group">
                                        <label asp-for="Naam"></label>
                                        <input type="text" class="form-control" required="required" asp-for="Naam">
                                        <span asp-validation-for="Naam" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input type="text" class="form-control" required="required" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Onderwerp</label>
                                        <input type="text" class="form-control" required="required" asp-for="Onderwerp">
                                        <span asp-validation-for="Onderwerp" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Bericht</label>
                                        <textarea rows="5" class="form-control" required="required" asp-for="Bericht"></textarea>
                                        <span asp-validation-for="Bericht" class="text-danger"></span>
                                    </div>
                                    <button class="btn">
                                        Verstuur bericht
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact Us Area -->

        </div>
    </div>
    <!-- End Page Container -->


</main>
<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->